@tailwind base;
@tailwind components;
@tailwind utilities;

.anime {
    border : none ;
    position : relative;
  }
  .anime:hover{
    border:none;
  }
  
  .anime::after{
    content: " ";
    position: absolute ;
    width: 0px;
    height: 3px;
    left: 50%;
    bottom : -5px;
    background-color:#059669;
    transition: all ease-out .3s;
  }
  
  .anime:hover::after{
    width:100%;
    left:0%;
  
  }
  